aioredis==2.0.1
aiosmtplib==3.0.1
alembic==1.12.1
amqp==5.2.0
annotated-types==0.6.0
anyio==4.1.0
asgiref==3.7.2
asttokens==2.4.1
async-timeout==4.0.3
Babel==2.13.1
backcall==0.2.0
beautifulsoup4==4.12.2
billiard==4.2.0
blinker==1.7.0
cachelib==0.9.0
celery==5.3.5
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
decorator==5.1.1
Deprecated==1.2.14
dnspython==2.4.2
email-validator==2.1.0.post1
executing==2.0.1
Flask==3.0.0
flask-babel==4.0.0
Flask-Caching==2.1.0
Flask-captcha2==3.0.3
Flask-Limiter==3.5.0
Flask-Mail==0.9.1
Flask-Mailing==0.2.3
Flask-Migrate==4.0.5
Flask-Session==0.5.0
flask-shell-ipython==0.5.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
gevent==23.9.1
greenlet==3.0.1
h11==0.14.0
httpcore==1.0.2
httpx==0.25.2
idna==3.4
importlib-resources==6.1.1
ipython==8.17.2
itsdangerous==2.1.2
jedi==0.19.1
Jinja2==3.1.2
Khayyam==3.0.17
kombu==5.3.4
libretranslatepy==2.1.1
limits==3.6.0
lxml==4.9.3
Mako==1.3.0
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
ordered-set==4.1.0
packaging==23.2
parso==0.8.3
pexpect==4.9.0
pickleshare==0.7.5
pillow==10.2.0
prompt-toolkit==3.0.41
ptyprocess==0.7.0
pure-eval==0.2.2
pycparser==2.21
pydantic==2.5.2
pydantic-settings==2.1.0
pydantic_core==2.14.5
Pygments==2.17.1
PyMySQL==1.1.0
python-dateutil==2.8.2
python-dotenv==1.0.0
pytz==2023.3.post1
redis==5.0.1
requests==2.31.0
rich==13.7.0
six==1.16.0
sniffio==1.3.0
soupsieve==2.5
SQLAlchemy==2.0.23
stack-data==0.6.3
traitlets==5.13.0
translate==3.6.1
translator==0.0.9
typing_extensions==4.8.0
tzdata==2023.3
urllib3==2.1.0
vine==5.1.0
wcwidth==0.2.11
Werkzeug==3.0.1
wrapt==1.16.0
WTForms==3.1.1
zope.event==5.0
zope.interface==6.1
