<!-- contact us -->
<div class="container-fluid">
    <div class="row justify-content-around align-items-center">
        <div class="col-lg-8 col-md-10 col-11" data-aos-duration="3500" data-aos="zoom-in">
            <form action="" class="m-0 p-0" method="POST">

                <label class="w-100 my-2">
                    <span class="h4" >{{_('نام و نام خانوادگی')}}</span>
                    <input type="text" name="" class="form-control py-2 fs-5"
                           placeholder="{{_('نام و نام خانوادگی به فارسی')}}">
                </label>

                <label class="w-100 my-2">
                    <span class="h4">{{_('آدرس ایمیل خود را وارد کنید')}}</span>
                    <input type="email" name="" class="text-start form-control py-2 fs-5"
                           placeholder="example@gmail.com">
                </label>

                <label class="w-100 my-2">
                    <span class="h4">{{_('عنوان پیام خود را وارد کنید')}}</span>
                    <input type="text" name="" class="text-start form-control py-2 fs-5"
                           placeholder="{{_('پیشنهاد, انتقاد, و ...')}}">
                </label>

                <label class="w-100 my-2">
                    <span class="h4">{{_('متن پیام خود را وارد کنید')}}</span>
                    <textarea type="email" name="" rows="10" class="form-control py-2 fs-5 text-start"
                              placeholder="{{_('کارشناسان ما آماده پاسخ گویی به سوالات و مشکلات شما هستند ...')}}"></textarea>
                </label>

                <input class="btn bg-blue w-100 fs-4 py-2 text-white" type="submit" value="{{_('ارسال')}}">

            </form>
        </div>
    </div>
</div>
<!-- end of contact us -->
