{% extends "base.html" %}

{% block title %}
{{_('فرصت های شغلی شاتل')}}
{% endblock title %}

{% block style %}
<link rel="stylesheet" href="{{ 'job/css/job-hire.css' | StorageUrl }}">
{% endblock style %}

{% block content %}
{% include 'utils/header.html' %}
<section class="persian-font" style="overflow-x: hidden">
    <div class="header-hire-banner w-100  d-flex justify-content-center align-items-center">
        <h3 class="text-white display-4" data-aos="fade-left"> {{ _('فرصت های شغلی ') }}<span class="text-orange">{{ _('شاتل') }}</span>  </h3>
    </div>
    <div class="container-fluid">
        <div class="row justify-content-center align-items-center">
            <div class="col-10">

                <div class="my-5" data-aos="fade-right">
                    <h3 class="text-start text-orange">به جمع ما بپیوندید!</h3>
                    <p class="text-muted text-muted">به خانواده شاتل بپیوندید</p>
                </div>

                <table class="table table-responsive table-bordered table-light table-hover my-5">
                    <thead>
                    <tr>
                        <th>{{ _('عنوان شغلی') }}</th>
                        <th>{{ _('وظایف') }}</th>
                        <th>{{ _('مزایا') }}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>مونتاژ کار</td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                    </tr>
                    <tr>
                        <td>مهندس ارشد الکترونیک</td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                    </tr>
                    <tr>
                        <td>مهندس ارشد مکانیک</td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                    </tr>
                    <tr>
                        <td>برنامه نویس ارشد بک اند</td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                    </tr>
                    <tr>
                        <td>مونتاژ کار</td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                        <td>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است
                            چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی
                            تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-10 my-3">
                <div class="bg-orange" style="height: 1px"></div>
            </div>
            <div class="col-10 m-5" >
                <h2 class="text-center text-orange display-5" data-aos="fade-left">{{ _('ارسال رزومه') }}</h2>
                <form action="" method="">
                    <div class="row">
                            <label class="w-100 my-3">
                                {{ _('فایل رزومه') }}
                                <input type="file" class="form-control">
                            </label>
                            <label class="w-100 my-3">
                                {{ _('توضیحات') }}
                                <textarea cols="30" rows="10" class="form-control" placeholder="توضیحات"></textarea>
                            </label>
                            <div class="d-flex justify-content-center align-items-center">
                                {{ captchaField }}
                            </div>
                        <button type="submit" class="btn btn-primary w-100 my-3 fs-4">{{ _('ارسال') }}</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
{% include 'utils/footer.html' %}

{% endblock content %}

{% block script %}
{% endblock script %}